@import "theme";
@import "../../node_modules/ion-rangeslider/css/ion.rangeSlider.css";
@import "../../node_modules/ion-rangeslider/css/ion.rangeSlider.skinHTML5.css";


html, body{
	font-size: 16px;
}

.align-center{
	text-align: center;
}

.centered-bootstrap-cell{
	float: none;
	margin: 0 auto;
}

.app-container{
	width: 90%;
	margin: 0 auto;
}

.app{
	height: auto;
	overflow: hidden;
	padding: 2em 0;
	
	.btns-box{
		text-align: center;
	}

	.canvas-box{
		padding-top: 3em;
		text-align: center;
		canvas{
			display: inline-block;
		}
	}

	#grid{
		position: absolute;
		z-index: 0;
	}

	#canvas{
		position: relative;
		z-index: 1;
	}

	.canvas-box{
		position: relative;
	}
}
